#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.login {
  text-align: right;
}

nav a.active {
  background: var(--light);
  color: var(--accent-dark);
}

nav a {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 5px;
}
nav a:hover {
  border-color: var(--accent);
}